{{patient-history isVisible=chronoIsVisible patientId=patientID}}
{{medication-history isVisible=medicationIsVisible patientId=patientID}}
{{vaccine-history isVisible=vaccineIsVisible patientId=patientID}}
<div class = "history-selector">
	<button {{action "showChronological"}} class = "history-selector-button">Chronological</button>
	<button {{action "showMedication"}} class = "history-selector-button">Medication History</button>
	<button {{action "showVaccine"}} class = "history-selector-button">Vaccine History</button>
</div>