<div class = "patientViewGroup">
        <h3 class = "patientInfoHeading"> Patient Info</h3>
		<div class = "patientViewLabel">Name:</div>
		<div class = "viewInfo">{{first_name}} {{last_name}}</div>
		<br>
		<div class = "patientViewLabel">Species:</div>
		<div class = "viewInfo">{{species}}</div>
		<br>
		<div class = "patientViewLabel">Sex:</div>
		<div class = "viewInfo">{{sex}}</div>
		<br>
		<div class = "patientViewLabel">Date of Birth:</div>
		<div class = "viewInfo">{{dateOfBirth}}</div>
		<br>
		<div class = "patientViewLabel">Colour:</div>
		<div class = "viewInfo">{{colour}}</div>
		<br>

		<div class = "patientViewLabel">Tattoo ID:</div>
		<div class = "viewInfo">{{tattoo}}</div>
		<br>
		<div class = "patientViewLabel">Microchip ID:</div>
		<div class = "viewInfo">{{microchip}}</div>
		<br>
	</div>
{{yield}}
