<div class = "patientViewGroup">
        <h3 class = "patientInfoHeading"> Patient Info</h3>
		<div class = "patientViewLabel">Name:</div>
		<div class = "viewInfo">{{first_name}} {{last_name}}</div>
		<br>
		<div class = "patientViewLabel">Species:</div>
		<div class = "viewInfo">{{species}}</div>
		<br>
		<div class = "patientViewLabel">Gender:</div>
		<div class = "viewInfo">{{gender}}</div>
		<br>
		<div class = "patientViewLabel">Reproduction Status:</div>
		<div class = "viewInfo">{{status}}</div>
		<br>
		<div class = "patientViewLabel">Age:</div>
		<div class = "viewInfo">{{age}}</div>
		<br>
		<div class = "patientViewLabel">Colour:</div>
		<div class = "viewInfo">{{colour}}</div>
		<br>

		<div class = "patientViewLabel">Tattoo ID:</div>
		<div class = "viewInfo">{{tattoo}}</div>
		<br>
		<div class = "patientViewLabel">Microchip ID:</div>
		<div class = "viewInfo">{{microchip}}</div>
		<br>
	</div>
{{yield}}
