<!-- TODO: reorganize navigation bar to reflect final UI -->
<div class="container">
	{{#if session.isAuthenticated}} 
		{{#if isAdmin}} 
			{{admin-navbar}} 
		{{else}} 
			{{user-navbar}}
		{{/if}} 
	{{/if}}
	<div class="body">
		{{outlet}}
	</div>
	 <a class="clickable"{{action 'backToTop'}} >Back to top </a>
</div>