<div class = "panel panel-default">
		<div class = "panel-body">
			<div class = "infoBlock">
				<h4>Client: </h4><br>
				<h5>{{model.client.lastName}}, {{model.client.firstName}}  </h5><br>
				<h5>Address:</h5><br>
				<h5>{{model.client.address}} </h5><br>
				<h5>Phone Number: </h5><br>
				<h5>{{model.client.phoneNumber}} </h5><br>
				<h5>Email: </h5><br>
				<h5>{{model.client.email}} </h5><br>
			</div>
			<div class = "infoBlock">
				<h4>Documentation Information</h4><br>
				<h5>LICO: </h5><br>
				<h5>AISH: </h5><br>
				<h5>SA: </h5><br>
				<h5>Notes: </h5><br>
			</div>
			<div class = "infoBlock">
				<h4>Alternate Contact</h4><br>
				<h5>Last, First</h5><br>
				<h5>Address: </h5><br>
				<h5>Phone Number: </h5><br>
				<h5>Email: </h5><br>
			</div>
			<div class = "infoBlock">
				<h4>Pet: </h4>
				<!-- TODO loop through list of pets -->
				<h5>Pet name</h5><br>
				<h5>Species: </h5><br>
				<h5>Animal ID: </h5><br>
				<h5>Tattoo/microchip ID: </h5><br>
			</div>
		</div>
</div>
