<nav>
  <p> Back to the login page: </p>
  {{#link-to "login"}}Login{{/link-to}}
</nav>
<p> Please enter your email and a password to create an account: </p>
<form >  
  <label for="username">Username</label>
  {{input id='username' value=identification}}
  <br>
  <br>
  <label for="password">Password</label>
  {{input id='password' value=password}}
  <br>
  <br>
  <label for="passwordConfirm">Confirm Password</label>
  {{input id='passwordConfirm' value=confirmpassword}}
  <br>
  <br>
  <button type="submit" {{action 'createUser'}} id="create-user-button">Create</button>
 </form>
<div class="alert alert-success usertextare" role="alert" id="statusgood" value=""><p id="inner"></p></div>
<div class="alert alert-danger usertextare" role="alert" id="statusbad" value="startval"></div>
{{outlet}}
