<div>
  <div id="alert_placeholder"></div>
  <div class="inputLoginGroup">
    <h3> Create an account : </h3>
    <br>
    <br>
    <form>
      <div>{{model.name}} </div>
      <div>{{model.email}} </div>
      <label for="password" class="inputUserLabel">Password</label> {{input id='password' value=password type="password"}}

      <label for="passwordConfirm" class="inputUserLabel">Confirm Password</label> {{input id='passwordConfirm' value=confirmpassword
      type="password"}}

      <button type="submit" {{action 'createUser'}} id="create-user-button">Create</button>
    </form>
  </div>
</div>