<nav>
  <p> Back to the login page: </p>
  {{#link-to "login"}}Login{{/link-to}}
</nav>
<p> Please enter your email and a password to create an account: </p>
<form >  
  <label for="id">Username</label>
  {{input id='id' value=identification}}
  <br>
  <br>
  <label for="pass">Password</label>
  {{input id='pass' value=password}}
  <br>
  <br>
  <button type="submit" {{action 'createUser'}} id="create-user-button">Create</button>
 </form>
 {{textarea value="" readonly="" id="status"}}
{{outlet}}
