<nav>
  <p> Back to the login page: </p>
  {{#link-to "login"}}Login{{/link-to}}
</nav>
<p> Please enter your email and a password to create an account: </p>
<form >  
  <label for="username">Username</label>
  {{input id='username' value=identification}}
  <br>
  <br>
  <label for="password">Password</label>
  {{input id='password' value=password}}
  <br>
  <br>
  <button type="submit" {{action 'createUser'}} id="create-user-button">Create</button>
 </form>
 {{textarea class="usertextarea" value="" readonly="" id="status"}}
{{outlet}}
