<div id = "alert_placeholder_firstName"></div>
<div id = "alert_placeholder_lastName"></div>
<div id = "alert_placeholder_clientPhone"></div>
<div id = "alert_placeholder_clientEmail"></div>
<div id = "alert_placeholder_altPrimaryPhone"></div>
<div id = "alert_placeholder_altSecondaryPhone"></div>
<div id = "alert_placeholder_altEmail"></div>
<form {{action "saveClient" model on="submit"}}>
	<div class = "inputGroup">
		<h3>Please edit the desired contact information</h3>

		<label class = "inputLabel" for = "clientFirstName">Client's First Name</label>
		<div class = "inputBox">
			{{input id='clientFirstName' value=model.firstName required=false}}
			
		</div>
		<br>
		<label class = "inputLabel" for = "clientLastName">Client's Last Name</label>
		<div class = "inputBox">
			{{input id='clientLastName' value=model.lastName required=false}}
			
		</div>
		<br>
		<label class = "inputLabel" for = "clientAddressLine1">Client's Address Line 1</label>
		<div class = "inputBox">
			{{input id='clientAddressLine1' value=model.addressLine1 required=false cols="50" rows="4"}}
		</div>
		<br>
		<label class = "inputLabel" for = "clientAddressLine2">Client's Address Line 2</label>
		<div class = "inputBox">
			{{input id='clientAddressLine2' value=model.addressLine2 required=false cols="50" rows="4"}}
		</div>
		<br>
		<label class = "inputLabel" for = "clientAddressLine3">Client's Address Line 3</label>
		<div class = "inputBox">
			{{input id='clientAddressLine3' value=model.addressLine3 required=false cols="50" rows="4"}}
		</div>
		<br>
		<label class = "inputLabel" for = "clientPhone">Client's Phone Number</label>
		<div class = "inputBox">
			{{input id='clientPhone' value=model.phoneNumber}}
			
		</div>
		<br>
		<label class = "inputLabel" for = "clientEmail">Client's Email</label>
		<div class = "inputBox">
			{{input id='clientEmail' value=model.email}} 
			
		</div>
		<br>
		
	</div>
	<br>

	<div class = "inputGroup">
		<h3>Client's documentation</h3>

		<label class = "inputLabel" for = "licoDocumentation">LICO</label>
		<div class = "inputBox">
			{{input id='clientLICO' value=model.licos}}
		</div>
		<br>
		<label class = "inputLabel" for = "aishDocumentation">AISH</label>
		<div class = "inputBox">
			{{input id='clientAISH' value=model.aish}}
		</div>
		<br>
		<label class = "inputLabel" for = "saDocumentation">SA</label>
		<div class = "inputBox">
			{{input id='clientSA' value=model.socialAssistance}}
		</div>
		<br>
		<label class = "inputLabel" for = "notesDocumentation">Notes</label>
		<div class = "inputBox">
			{{textarea id='clientNotes' value=model.notes cols="80" rows="6"}}
		</div>
		<br>
	</div>
	<br>

	<div class = "inputGroup">
		<h3>Alternative contact's contact information</h3>

		<label class = "inputLabel" for = "alternativeFirstName">Alternative Contact's First Name</label>
		<div class = "inputBox">
			{{input id='alternativeFirstName' value=model.alternativeContactFirstName }}
		</div>
		<br>
		<label class = "inputLabel" for = "alternativeLastName">Alternative Contact's Last Name</label>
		<div class = "inputBox">
			{{input id='alternativeLastName' value=model.alternativeContactLastName }}
		</div>
		<br>
		<label class = "inputLabel" for = "alternativeAddressLine1">Alternative Contact's Address Line 1</label>
		<div class = "inputBox">
			{{input id='alternativeAddressLine1' value=model.alternativeContactAddressLine1   cols="50" rows="4"}}
		</div>
		<br>
		<label class = "inputLabel" for = "alternativeAddressLine2">Alternative Contact's Address Line 2</label>
		<div class = "inputBox">
			{{input id='alternativeAddressLine2' value=model.alternativeContactAddressLine2   cols="50" rows="4"}}
		</div>
		<br>
		<label class = "inputLabel" for = "alternativeAddressLine3">Alternative Contact's Address Line 3</label>
		<div class = "inputBox">
			{{input id='alternativeAddressLine3' value=model.alternativeContactAddressLine3   cols="50" rows="4"}}
		</div>
		<br>
		<label class = "inputLabel" for = "alternativePrimaryPhone">Alternative Contact's Primary Phone Number</label>
		<div class = "inputBox">
			{{input id='alternativePrimaryPhone' value=model.alternativeContactPhoneNumber}}
			
		</div>
		<br>
		<label class = "inputLabel" for = "alternativeSecondaryPhone">Alternative Contact's Secondary Phone Number</label>
		<div class = "inputBox">
			{{input id='alternativeSecondaryPhone' value=model.alternativeContact2ndPhone}}
			
		</div>
		<br>
		<label class = "inputLabel" for = "alternativeEmail">Alternative Contact's Email</label>
		<div class = "inputBox">
			{{input id='alternativeEmail' value=model.alternativeContactEmail}}
			
		</div>
		<br>
		
	</div>
	<br>
	<button type = "submit" id="create-client-button">Save</button>
	<div id = "alert_placeholder_success"></div>
</form>
