	<form {{action "submitNewCalendar" model.id on="submit"}}>
		<div class = "inputGroup">
			<h3>Please fill in the appointment</h3>

			<label class = "inputLabel" for ="appointmentStart">Start Date:</label>
			<div class = "inputBox">
			<input id = "appointmentStart" value= {{model.startdate}} data-provide="datepicker">
			</div>
			<br>
			<label class = "inputLabel" for ="appointmentStartTime">Start Time:</label>
			<div class = "inputBox">
			{{input id = "appointmentStartTime" value=model.starttime required='true'}}
			</div>
			<br>
			<label class = "inputLabel" for ="appointmentEndTime">Duration:</label>
			<div class = "inputBox">
			{{input id = "appointmentEndTime" value=model.end required='true'}}
			</div>
			<br>
			<label class = "inputLabel" for ="appointmentReason">Reason:</label>
			<div class = "inputBox">
			{{textarea id = "appointmentReason" value=model.reason required='true' cols="50" rows="4"}}
			</div>
			<br>
			<label class = "inputLabel" for ="appointmentNote">Note:</label>
			<div class = "inputBox">
			{{textarea id = "appointmentNote" value=model.notes cols="50" rows="4"}}
			</div>
			<br>
			<label class = "inputLabel" for ="appointmentLocation">Location:</label>
			<div class = "inputBox">
			{{input id = "appointmentLocation" value=model.location required='true'}}
			</div>
			<br>
		</div>
	</form>
	<div class = "inputGroup">
	<button type = "submit" id="create-appointment-button">Save Edited Appointment</button>
	<button {{action "newAppointment" model.id}}>Delete Appointment</button>
	</div>
