<div class="inputContactGroup">
<h3 class='heading' > Editing: {{model.first_name}} {{model.last_name}} </h3>
<div>
<form > 

 <label for="type" >What type of volunteer is this?</label>
  <select id="type" {{action "showLastName" on="change"}}>
        {{#if model.veterinarian}}
        <option value="Veterinarian" selected='selected'> Veterinarian </option>
        <option value="Volunteer"> Volunteer </option>
        <option value="Laboratory"> Laboratory </option>
         <option value="Technician"> Technician </option>
        {{/if}}
          {{#if model.volunteer}}
        <option value="Veterinarian" > Veterinarian </option>
        <option value="Volunteer" selected='selected'> Volunteer </option>
        <option value="Laboratory"> Laboratory </option>
         <option value="Technician"> Technician </option>
        {{/if}}
          {{#if model.laboratory}}
        <option value="Veterinarian" > Veterinarian </option>
        <option value="Volunteer"> Volunteer </option>
        <option value="Laboratory" selected='selected'> Laboratory </option>
         <option value="Technician"> Technician </option>
        {{/if}}
          {{#if model.technician}}
        <option value="Veterinarian" > Veterinarian </option>
        <option value="Volunteer"> Volunteer </option>
        <option value="Laboratory"> Laboratory </option>
         <option value="Technician" selected='selected'> Technician </option>
        {{/if}}
  </select>
  {{#if model.laboratory}}

  <label for="first_name" class="inputContactLabel">Name:</label>
  
  <input id='first_name' class="inputContactBox" value={{model.first_name}} >
 
  {{else}}  
   
  <label for="first_name" class="inputContactLabel">First Name:</label>
  
  <input id='first_name' class="inputContactBox" value={{model.first_name}} >
  
  <label for="last_name" class="inputContactLabel">Last Name:</label>
 
  <input id='last_name' class="inputContactBox" value={{model.last_name}}>
 
  {{/if}}
  <label for="phoneNumber" class="inputContactLabel">Phone Number: </label>

  <input id='phoneNumber' class="inputContactBox" value={{model.phone_number}}>
 
  <label for="faxNumber" class="inputContactLabel">Fax Number: </label>
  
  <input type="faxNumber" class="inputContactBox" id='faxNumber' value={{model.fax_number}}>
  
  <label for="email" class="inputContactLabel">Email: </label>

  <input type="email" class="inputContactBox" id='emailContact' value={{model.email}}>
  <br>
  <br>
  <label for="addressLine1" class="inputContactLabel">Address Line 1: </label>
  
  <input type="addressLine1" class="inputContactBox" id='addressLine1' value={{model.addressLine1}}>
  
  <label for="addressLine2" class="inputContactLabel">Address Line 2: </label>
  
  <input type="addressLine2" class="inputContactBox" id='addressLine2' value={{model.addressLine2}}>
  
  <label for="addressLine3" class="inputContactLabel">City: </label>
  
  <input type="addressLine3" class="inputContactBox" id='addressLine3' value={{model.addressLine3}}>
  <br>
  <br>
  <br>
  <br>
  <button type="submit" {{action 'doneEditContact' model.id}} id="done-edit-button" class="edit-contact-button">Done Editing</button>
  <button type="submit" {{action 'deleteContact' model.id}} id="delete-contact-button" class="edit-contact-button">Delete Contact</button>
 </form>
 </div>
 <br>
 <div id = "alert_placeholder"></div>
 </div>