<div class="container">
<div class="row allMedGroup" >

<div class="medHeading">
<div class="col-sm-12 col-md-12">
<h1> New Medical Record </h1>
<h4> Date: {{model}} </h4>
</div>
</div>

<div class="col-sm-7 col-md-7">

<div > placeholder for pet info: 
  <br>
  <textarea rows="10" cols="40"> </textarea>
</div>

<div >
<div class="row">
    <div class="col-sm-2 col-md-2">Attitude </div>
    <div class="col-sm-4 col-md-3">
    <label class="radioButton labelForRadio" for="attitudeBAR"> <input class="norm" type="radio" name="attitude" id="attitudeBAR">  BAR </label> 
    <label class="radioButton labelForRadio" for="attitudeQAR"><input type="radio"  name="attitude" id="attitudeQAR" >  QAR </label> 
    </div>
    <label class="col-sm-3 col-md-3 labelForRadio"> <input type="checkbox" id="attitudeDepressed" > Depressed </label>
    <div class="col-sm-1 col-md-1"> Temp </div>
    <div class="col-sm-1 col-md-1"> <input id="temperatureText" class="medicalTextInput" value="">  </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2">Eyes </div>
    <div class="col-sm-2 col-md-2">
    <label class="radioButton labelForRadio "> <input class="norm" type="radio" name="eyes" id="eyesN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="radio" name="eyes" id="eyesA"> A </label> 
    </div>
    <label class="col-sm-2 col-md-2 labelForRadio"> <input type="checkbox" id="eyesOU"> OU </label>
     <label class="col-sm-2 col-md-2 labelForRadio"> <input type="checkbox" id="eyesOD"> OD </label>
    <label class="col-sm-2 col-md-2 labelForRadio"> <input type="checkbox" id="eyesOS"> OS </label>
    <div class="col-sm-1 col-md-1"> <input id="eyesText" class="medicalTextInput" value="">  </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2">Oral </div>
    <div class="col-sm-2 col-md-2">
    <label class="radioButton labelForRadio"> <input class="norm" type="radio" name="oral" id="oralN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="radio" name="oral" id="oralA"> A </label> 
    </div>
    <div class="col-sm-1 col-md-1"> <input id="oralText" class="medicalTextInput" value="">  </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2">MM </div>
    <div class="col-sm-3 col-md-3">
    <label class="radioButton labelForRadio"> <input class="norm" type="checkbox" id="mmN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="checkbox" id="mmPale"> Pale </label>
    </div>
    <div class="col-sm-6 col-md-6"> 
    <label class="labelForRadio"> <input type="checkbox" id="mmJaundiced"> Jaundiced </label> 
    <label class="labelForRadio"> <input type="checkbox" id="mmTacky" value=""> Tacky </label> 
    </div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-2 ">Ears </div>
    <div class="col-sm-2 col-md-2">
    <label class="radioButton labelForRadio"> <input class="norm" type="radio" name="ears" id="earsN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="radio" name="ears" id="earsA"> A </label>
    </div> 
    <div class="col-sm-7 col-md-7 ">
    <label class="checkboxMed labelForRadio"> <input type="checkbox" id="earsEarMites"> Ear Mites </label> 
    <label class="checkboxMed labelForRadio"> <input type="checkbox" id="earsAU"> AU </label> 
    <label class="checkboxMed labelForRadio"> <input type="checkbox" id="earsAD"> AD </label> 
    <label class=" checkboxMed labelForRadio"> <input type="checkbox" id="earsAS"> AS </label> 
    <div class="checkboxMed"> <input id="earsText" class="medicalTextInput" value="">  </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-2">Glands/Nodes </div>
    <div class="col-sm-2 col-md-2">
    <label class="radioButton labelForRadio"> <input class="norm" type="radio" name="glands" id="glandsN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="radio" name="glands" id="glandsA"> A </label> 
    </div>
    <div class="col-sm-1 col-md-1"> <input  id="glandsText" class="medicalTextInput" value="">  </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2">Skin </div>
    <div class="col-sm-2 col-md-2">
    <label class="radioButton labelForRadio"> <input class="norm" type="radio" name="skin" id="skinN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="radio" name="skin" id="skinA"> A </label> 
    </div>
    <div class="col-sm-1 col-md-1"> <input id="skinText" class="medicalTextInput" value="">  </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2">Abdomen </div>
    <div class="col-sm-2 col-md-2">
    <label class="radioButton labelForRadio"> <input class="norm" type="radio" name="abdomen" id="abdomenN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="radio" name="abdomen" id="abdomenA"> A </label> 
    </div>
    <div class="col-sm-1 col-md-1"> <input id="abdomenText" class="medicalTextInput" value="">  </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-2">Urogential </div>
    <div class="col-sm-2 col-md-2">
    <label class="radioButton labelForRadio"> <input class="norm" type="radio" name="urogential"id="urogentialN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="radio" name="urogential"  id="urogentialA"> A </label> 
    </div>
    <div class="col-sm-1 col-md-1"> <input  id="urogentialText" class="medicalTextInput" value="">  </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2">Nervous System </div>
    <div class="col-sm-2 col-md-2">
    <label class="radioButton labelForRadio"> <input class="norm" type="radio" name="nervous" id="nervousSystemN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="radio" name="nervous" id="nervousSystemA"> A </label> 
    </div>
    <div class="col-sm-1 col-md-1"> <input id="nervousSystemText" class="medicalTextInput" value="">  </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-2">Musculoskeletal </div>
    <div class="col-sm-2 col-md-2">
    <label class="radioButton labelForRadio"> <input class="norm" type="radio" name="musculoskeletal" id="musculoskeletalN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="radio" name="musculoskeletal" id="musculoskeletalA"> A </label> 
    </div>
    <div class="col-sm-1 col-md-1"> <input id="musculoskeletalText" class="medicalTextInput" value="">  </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-2">Cardiovascular </div>
    <div class="col-sm-2 col-md-2">
    <label class="radioButton labelForRadio"> <input class="norm" type="radio" name="cardiovascular" id="cardiovascularN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="radio" name="cardiovascular" id="cardiovascularA"> A </label> 
    </div>
    <div class="col-sm-3 col-md-3"> <input id="cardiovascularText" class="medicalTextInput" value="">  </div>
    <div class="col-sm-2 col-md-1"> HR </div>
    <div class="col-sm-1 col-md-1"> <input id="hrText" class="medicalTextInput" value="">  </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2 ">Respiratory </div>
    <div class="col-sm-2 col-md-2">
    <label class="radioButton labelForRadio"> <input class="norm" type="radio" name="respiratory" id="respiratoryN"> N </label> 
    <label class="radioButton labelForRadio"> <input type="radio" name="respiratory" id="respiratoryA"> A </label> 
    </div>
    <div class="col-sm-3 col-md-3"> <input id="respiratoryText1" class="medicalTextInput" value="">  </div>
    <div class="col-sm-2 col-md-1"> RR </div>
    <div class="col-sm-3 col-md-1 "> <input id="respiratoryText2" class="medicalTextInput" value="">  </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2">BCS  </div>
    <div class="col-sm-2 col-md-2 bcsSelect">
    <select id="bcsvalue" >
        <option value="1"> 1</option>
        <option value="1"> 2</option>
        <option value="1"> 3</option>
        <option value="1"> 4</option>
        <option value="1"> 5 (ideal)</option>
        <option value="1"> 6</option>
        <option value="1"> 7</option>
        <option value="1"> 8</option>
        <option value="1"> 9</option>
  </select>
  </div>
    <div class="col-sm-1 col-md-1" >/9</div>
    <div class="col-sm-7 col-md-7">MCS 
    <label class=" labelForRadio"> <input class="norm" type="checkbox" id="mcsN"> N </label>
    <label class=" labelForRadio"> <input type="checkbox" id="mcsMild">Mild </label>
    <label class="labelForRadio"> <input type="checkbox" id="mcsMod"> Mod </label>
    <label class=" labelForRadio"> <input type="checkbox" id="mcsSevere"> Severe </label>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 col-md-2"> Weight </div>
    <div class="col-sm-3 col-md-2 "> <input id="weight" class="medicalTextInput" value="">  </div>
    <div class="col-sm-5 col-md-4">Unit  
    <select id="unit"  >
        <option value="kg"> kg</option>
        <option value="lbs"> lbs</option>
    </select>
    </div>
</div>

<button type="submit" class="addButton" id="check-button"{{action 'checkAll'}}>Check all</button>
<button type="submit" class="addButton" id="uncheck-button"{{action 'uncheckAll'}}>Uncheck all</button>
<button type="submit" class="addButton" id="print-button"{{action 'printMeds'}}>See meds</button>

<div class="row">
<label for="notes">Notes: </label>
<br>
<textarea id="notes" rows="10" cols="70" value=""> </textarea>
<br>
</div>

<div class="row">
<div>
<label for="medications">Medications: </label>

<div id="medicationDiv">
    <div>
{{bootstrap-datepicker id="datePickerMedication" placeholder='Medication Calendar'}}
</div>
</div>

<button type="submit" class="addButton" id="add-medication-button"{{action 'addMedication'}}>Add</button>
</div>


<div >
<label for="vaccinces">Vaccines: </label>
<br>

<div id="vaccineDiv">
    <div>
    {{bootstrap-datepicker id="datePickerVaccine" placeholder='Vaccine Calendar'}}
    </div>
</div>

<button type="submit" class="addButton" id="add-vaccine-button"{{action 'addVaccine'}}>Add</button>
</div>

<div >
<label for="other">Other: </label>
<br>

<div id="otherDiv">
      <div>
{{bootstrap-datepicker id="datePickerOther"  placeholder='Other Calendar'}}
</div>
</div>

<button type="submit" class="addButton" id="add-other-button"{{action 'addOther'}}>Add</button>
</div>

</div>
</div>

</div>


<div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">


<div >
<label for="followUpNotes">Follow up notes: </label>
<br>
<textarea id="followUpNotes" rows="5" cols="35" value=""> </textarea>
</div>

<div >
<label for="summary">Short summary: </label>
<br>
<textarea id="summary" rows="5" cols="35" value=""> </textarea>
</div>

<div >
  <h4> Veterinarian Signature: </h4>

  {{signature-pad
    color=color
    height=height
    value=signature
    weight=weight
    width=width
    id='signature'
}}
  <button type="submit" class= "medical-button" id="clear-signature-button"{{action 'clearSignature'}}>Clear Signature</button>

  <button type="submit" class= "medical-button" id="create-medical-button"{{action 'createMedicalRecord'}}>Create medical record</button>
  <div id = "alert_placeholder_med"></div>
</div>

</div>


</div>
</div>