<div class = "container">
	<form>
		<h3>Please fill in the client's contact information</h3>

		<label for = "clientName">Client's name</label>
		{{input id='clientName' value=clientName}}
		<br>
		<label for = "clientAddress">Client's Address</label>
		{{input id='clientAdress' value=clientAddress}}
		<br>
		<label for = "clientPhone">Client's Phone Number</label>
		{{input id='clientPhone' value=clientPhone}}
		<br>
		<label for = "clientEmail">Client's Email</label>
		{{input id='clienEmail' value=clientEmail}}
		<br>
		<br>

		<h3>Please fill in the alternative contact's contact information</h3>

		<label for = "alternativeName">Alternative Contact's Name</label>
		{{input id='alternativName' value=alternativeName}}
		<br>
		<label for = "alternativeAddress">Alternative Contact's Address</label>
		{{input id='alternativeAdress' value=alternativeAddress}}
		<br>
		<label for = "alternativePhone">Alternative Contact's Phone Number</label>
		{{input id='alternativPhone' value=alternativePhone}}
		<br>
		<label for = "alternativeEmail">Alternative Contact's Email</label>
		{{input id='alternativEmail' value=alternativeEmail}}
		<br>
	</form>
</div>
