<div class = "container">
	<form>
		<h3>Please fill in the client's contact information</h3>

		<label for = "clientName">Client's name</label>
		{{input id='clientName' value=model.clientName required='true'}}{
		<br>
		<label for = "clientAddress">Client's Address</label>
		{{textarea id='clientAddress' value=clientInfo.clientAddress required='true' cols="50" rows="4"}}
		<br>
		<label for = "clientPhone">Client's Phone Number</label>
		{{input id='clientPhone' value=clientInfo.clientPhone required='true'}}
		<br>
		<label for = "clientEmail">Client's Email</label>
		{{input id='clienEmail' value=clientInfo.clientEmail required='true'}}
		<br>
		<label for = "clientID">Client's ID</label>
		{{input id='clienID' value=clientInfo.clientID required='true'}}
		<br>
		<br>

		<h3>Please fill in the client's documentation</h3>

		<label for = "licoDocumentation">LICO</label>
		{{input id='licoDocumentation' value=model.clientLICO}}
		<br>
		<label for = "aishDocumentation">AISH</label>
		{{input id='aishDocumentation' value=model.clientAISH}}
		<br>
		<label for = "saDocumentation">SA</label>
		{{input id='saDocumentation' value=model.clientSA}}
		<br>
		<label for = "notesDocumentation">Notes</label>
		{{textarea id='notesDocumentation' value=notesDocumentation cols="80" rows="6"}}
		<br>

		<h3>Please fill in the alternative contact's contact information</h3>

		<label for = "alternativeName">Alternative Contact's Name</label>
		{{input id='alternativName' value=alternativeName required='true'}}
		<br>
		<label for = "alternativeAddress">Alternative Contact's Address</label>
		{{textarea id='alternativeAdress' value=alternativeAddress required='true'  cols="50" rows="4"}}
		<br>
		<label for = "alternativeHomePhone">Alternative Contact's Home Phone Number</label>
		{{input id='alternativeHomePhone' value=alternativeHomePhone}}
		<br>
		<label for = "alternativeCellPhone">Alternative Contact's Cell Phone Number</label>
		{{input id='alternativeCellPhone' value=alternativeCellPhone required='true'}}
		<br>
		<label for = "alternativeOtherPhone">Alternative Contact's Other Phone Number</label>
		{{input id='alternativeOtherPhone' value=alternativeOtherPhone}}
		<br>
		<label for = "alternativeEmail">Alternative Contact's Email</label>
		{{input id='alternativEmail' value=alternativeEmail required='true'}}
		<br>
		<br>
		<button {{action "sendRequest"}} type = "submit">Create Client</button>

	</form>
</div>
