<div class ="container">
	<form {{action "submitNewPatient" on="submit"}}>
		<div class = "inputGroup">
			<h3>Patient's current status</h3>

			<label class = "inputLabel" for ="patientFirstName">First Name</label>
			<div class = "inputBox">
			{{input id = "patientFirstName" value=patientFirstName required='true'}}
			</div>
			<br>

			<label class = "inputLabel" for ="patientLastName">Last Name</label>
			<div class = "inputBox">
			{{input id = "patientLastName" value=patientLastName required='true'}}
			</div>
			<br>

			<label class = "inputLabel" for ="patientSpecies">Species</label>
			<div class = "inputBox">
			{{input id = "patientSpecies" value=patientSpecies required='true'}}
			</div>
			<br>

			<label class = "inputLabel" for ="patientGender">Gender</label>
			<div class = "inputBox">
			{{input id = "patientGender" value=patientGender required='true'}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientStatus">Reproduction Status</label>
			<div class = "inputBox">
			{{input id = "patientStatus" value=patientStatus required='true'}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientAge">Age</label>
			<div class = "inputBox">
			{{input id = "patientAge" value=patientAge required='false'}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientColor">Color</label>
			<div class = "inputBox">
			{{input id = "patientColor" value=patientColor required='false'}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientTatoo">Tatoo ID</label>
			<div class = "inputBox">
			{{input id = "patientTatoo" value=patientTatoo required='false'}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientMicrochip">Microchip Number</label>
			<div class = "inputBox">
			{{input id = "patientMicrochip" value=patientMicrochip required='false'}}
			</div>
			<br>
			<br>
			<button type = "submit" id="create-patient-button">Create Patient</button>
			<button type = "reset" id="reset-patient-button">Reset Form</button>
			
		</div>
	</form>
</div>