
	<form {{action "submitNewCalendar" on="submit"}}>
		<div class = "inputGroup">
			<h3>Please fill in the appointment</h3>

			<label class = "inputLabel" for ="appointmentStart">Start Time:</label>
			<div class = "inputBox">
			<input id = "appointmentStart" data-provide="datepicker">
			
			</div>
			<br>
			<label class = "inputLabel" for ="apportmentEnd">End Time:</label>
			<div class = "inputBox">
			{{input id = "appointmentEnd" value=appointmentEnd required='true'}}
			</div>
			<br>
			<label class = "inputLabel" for ="appointmentReason">Reason:</label>
			<div class = "inputBox">
			{{textarea id = "appointmentReason" value=appointmentReason required='true' cols="50" rows="4"}}
			</div>
			<br>
			<label class = "inputLabel" for ="appointmentNote">Note:</label>
			<div class = "inputBox">
			{{textarea id = "appointmentNote" value=appointmentNote cols="50" rows="4"}}
			</div>
			<br>
			<label class = "inputLabel" for ="appointmentLocation">Location:</label>
			<div class = "inputBox">
			{{input id = "appointmentLocation" value=appointmentLocation required='true'}}
			</div>
			<br>
			<button type = "submit" id="create-appointment-button">Create Appointment</button>
		</div>
	</form>
