<div class ="container">
	<form {{action "submitNewPatient" on="submit"}}>
		<div class = "inputGroup">
			<h3>Patient's current status</h3>

			<label class = "inputLabel" for ="patientFirstName">First Name</label>
			<div class = "inputBox">
			{{input id = "patientFirstName" value=patientFirstName required='true'}}
			</div>
			<br>

			

			<label class = "inputLabel" for ="patientSpecies">Species</label>
			<div class = "inputBox">
			{{input id = "patientSpecies" value=patientSpecies required='true'}}
			</div>
			<br>

			<label class = "inputLabel" for ="patientGender">Sex</label>
			<div class = "inputBox">
			<select id="value">
        		<option value="male" >Male</option>
        		<option value="maleN" >Male Neutered</option>
        		<option value="female" >Female</option>
         		<option value="femaleN" >Female Spayed</option>
         		<option value="unknown" >Unknown</option>
  			</select>
			</div>
			<br>

			<label class = "inputLabel"  for ="patientAge">Date of Birth</label>
			<div class = "inputBox">
			<input id = "patientAge" data-provide="datepicker">
			</div>
			<br>

			<label class = "inputLabel"  for ="patientColor">Color</label>
			<div class = "inputBox">
			{{input id = "patientColor" value=patientColor required='false'}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientTatoo">Tatoo ID</label>
			<div class = "inputBox">
			{{input id = "patientTatoo" value=patientTatoo}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientMicrochip">Microchip Number</label>
			<div class = "inputBox">
			{{input id = "patientMicrochip" value=patientMicrochip }}
			</div>
			<br>
			<br>
			<button type = "submit" id="create-patient-button">Create Patient</button>
			<button type = "reset" id="reset-patient-button">Reset Form</button>
			
		</div>
	</form>
</div>