<div>
  <div id="alert_placeholder"></div>
  <div class="inputLoginGroup">
    <h3> Create an account : </h3>
    <br>
    <br>
    <form>
      <label for="name" class="inputUserLabel">Name</label><div id="userName" class="userName">{{model.user.name}} </div>
      <label for="email" class="inputUserLabel">Email</label><div id="userEmail" class="userEmail">{{model.user.email}} </div>
      <label for="password" class="inputUserLabel">Password</label> <div class="password">{{input id='password' value=password type="password"}}</div>

      <label for="passwordConfirm" class="inputUserLabel">Confirm Password</label> <div class="password">{{input id='passwordConfirm' value=confirmpassword
      type="password"}}</div>

      <button type="submit" {{action 'createUser'}} id="create-user-button">Create</button>
    </form>
  </div>
</div>