<div >
    <br>
    <br>
    <br>
    <div >
        <div class="col-sm-7 col-sm-offset-1 col-md-7  col-md-offset-1">
        <form {{action "filterContact" on="submit" }} > 
        <input class="form-control" placeholder="Search" autofocus="autofocus" id='search-bar' />
        </form>
        </div>
        <div class="col-sm-2 col-md-2">
        <button  {{action "filterContact"  }} type="submit" id="search-button">Search</button>
        </div>
    </div>
    <br>
    <br>
    <div class="row leftAlignGroup">
 <div class=" col-sm-2 col-md-2 contactNameList" >
        <h3 id="veterinariansHeading" >Veterinarians</h3>
                 {{#each  model.contactsFilteredVeterinarian as |contact|}}
                           
                                <p{{action "getContact" contact.id on="click"}} class=' nameListItem  veterinariansContact'>{{contact.first_name}} {{contact.last_name}}</p>
                          

                    {{/each}}
        </div >
      
         <div class=" col-sm-2  col-sm-offset-1 col-md-2 contactNameList" >
             <h3 id="volunteersHeading" >Volunteers</h3>
                      {{#each  model.contactsFilteredVolunteer as |contact|}}
                           
                                <p{{action "getContact" contact.id on="click"}} class=' nameListItem  volunteersContact' >{{contact.first_name}} {{contact.last_name}}</p>
                           

                    {{/each}}
        </div >
     
        <div class="col-sm-2  col-sm-offset-1 col-md-2 contactNameList" >
            <h3 id="technicianHeading">Technicians</h3>
                      {{#each  model.contactsFilteredTechnician as |technician|}}
                            
                                <p{{action "getContact" contact.id on="click"}} class=' nameListItem  technician Contact'>{{contact.first_name}} {{contact.last_name}}</p>

                    {{/each}}
        </div >
         <div class="col-sm-2  col-sm-offset-1 col-md-2 contactNameList" >
             <h3 id="laboratoryHeading">Laboratory</h3>
                      {{#each  model.contactsFilteredLaboratory as |contact|}}
                            
                                <p{{action "getContact" contact.id on="click"}} class=' nameListItem  laboratoryContact'>{{contact.first_name}} {{contact.last_name}}</p>

                    {{/each}}
        </div >
        </div>
                    
</div>
