<div>
	<br>
    <br>
    <br>
    <div class="col-sm-7 col-sm-offset-1 col-md-7  col-md-offset-1">
	    <form {{action "filterPatient" on="keyUp" }} > 
	    	<input class="form-control" placeholder="Search" autofocus="autofocus" id='search-bar' />
	    </form>
    </div>
    <div class="col-sm-2 col-md-2">
    	<button  {{action "filterPatient"  }} type="submit" id="search-button">Search</button>
    </div>
    <br>
    <br>
</div>



<div class = "nameList" >
	<div class = "list-group">
		{{#each model.patientFiltered as |patient|}}
		    <div class = "row list-group-item clickable" {{action "getPatient" patient.id}}>
		        <p>{{patient.first_name}} {{patient.last_name}}</p>
		    </div>

		{{/each}}
	<br>
	</div>
</div>