<div >
	<br>
    <br>
    <br>
    <div class="row">
	    <input{{action "filterClient" on="keyUp" }}  class="searchInput col-sm-8 col-md-8 " placeholder="Search" autofocus="autofocus" id='search-bar' />
    	<button   class="col-sm-2 col-md-2 searchButton" {{action "filterClient"  }} type="submit" id="search-button">Search</button>
	</div>
	<br>
    <br>
</div>

<div class = "nameList">
	<div class = "list-group" >
		{{#each model.clientsFiltered as |client|}}
			<div class = "row list-group-item clickable" {{action "viewClient" client.id}}>
				<p>{{client.firstName}} {{client.lastName}}</p>
			</div>
		{{/each}}
	<br>	
	</div>
</div>
<button id = "newClientLinkButton" {{action "newClient"}}>Create New Client</button>
