
<div >
    <br>
    <br>
    <br>
    <div >
        <div class="col-sm-7 col-sm-offset-1 col-md-7  ">
        <input  {{action "filterContact" on='keyUp' }} class="form-control" placeholder="Search" autofocus="autofocus" id='search-bar' />
        </div>
        <div class="col-sm-2 col-md-2">
        <button  {{action "filterContact"  }} type='submit' id="search-button">Search</button>
        </div>
    </div>
    <br>
    <br>
    <div class="row leftAlignGroup">
 <div class=" col-sm-3 col-md-3 contactNameList" >
        <h3 id="veterinariansHeading" >Veterinarians</h3>
                 {{#each  model.contactsFilteredVeterinarian as |contact|}}
                           
                                <div{{action "getContact" contact.id on="click"}} class=' list-group-item veterinariansContact clickable'>{{contact.first_name}} {{contact.last_name}}</div>
                          

                    {{/each}}
        </div >
      
         <div class=" col-sm-3 col-md-3 contactNameList" >
             <h3 id="volunteersHeading" >Volunteers</h3>
                      {{#each  model.contactsFilteredVolunteer as |contact|}}
                           
                                <div{{action "getContact" contact.id on="click"}} class=' list-group-item  volunteersContact clickable' >{{contact.first_name}} {{contact.last_name}}</div>
                           

                    {{/each}}
        </div >
     
        <div class="col-sm-3  col-md-3 contactNameList" >
            <h3 id="technicianHeading">Technicians</h3>
                      {{#each  model.contactsFilteredTechnician as |technician|}}
                            
                                <div{{action "getContact" contact.id on="click"}} class=' list-group-item  technicianContact clickable'>{{contact.first_name}} {{contact.last_name}}</div>

                    {{/each}}
        </div >
         <div class="col-sm-3  col-md-3 contactNameList" >
             <h3 id="laboratoryHeading">Laboratory</h3>
                      {{#each  model.contactsFilteredLaboratory as |contact|}}
                            
                                <div{{action "getContact" contact.id on="click"}} class=' list-group-item laboratoryContact clickable'>{{contact.first_name}} {{contact.last_name}}</div>

                    {{/each}}
        </div >
        </div>

        

{{#if model.admin}}
        <button {{action "newContact"  model.admin}} type="submit" id="new-contact-button">New Contact</button>
{{/if}}

</div>

