<div class= "container" >
    <br>
    <div>{{model.id}} </div>
    <div>{{model.contacts}} </div>
    <br>
    <br>
    <div>
        <div class="col-sm-1 col-sm-offset-1 col-md-1 col-md-offset-1">
        <button  {{action "getContact" model }} type="submit" id="search-button">Search</button>
        </div>
        <div class="col-sm-7 col-sm-offset-1 col-md-7 col-md-offset-1">
        <input class="form-control" placeholder="Search" autofocus="autofocus"  />
        </div>
    </div>
    <br>
    <br>
    <div >
        <div class="col-sm-3  col-sm-offset-1 col-md-3 col-md-offset-1">Veterinarians</div>
        <div class="col-sm-3  col-sm-offset-1 col-md-3 col-md-offset-1">Volunteers</div>
        <div class="col-sm-3  col-sm-offset-1 col-md-3 col-md-offset-1">Lab </div>
    </div>
    {{#each model.contacts as |contact|}}
  
      <p> {{contact.first_name}}</p>
     

    {{else}}
    <p> Sorry, nobody is here.</p>
     
    {{/each}}
    {{#each model.contacts as |contact|}}
    <div>
        
      <div class="col-sm-3  col-sm-offset-1 col-md-3  col-md-offset-1"> {{contact.first_name}}</div>
     
    </div>
    {{else}}
    <p> Sorry, nobody is here.</p>
     
    {{/each}}
</div>
