<!-- Example of how to instantiate a medications-container -->
<div>
  Medicine
{{medications-container medType="Medicine" medicationList=medicine}}
</div>

<div>
  Vaccines
{{medications-container medType="Vaccine" medicationList=vaccine}}
</div>

<div>
  Other
{{medications-container medType="Other" medicationList=other}}
</div>
<button {{action 'alertMedication'}}>Medications Alert</button>
<!-- Here is showing that we have realtime access to all data in data stored at the root.-->
{{#each medicine as |item|}}
  {{item.name}} {{item.reminder}} {{item.med_type}}<br/>
{{/each}}

{{#each vaccine as |item|}}
  {{item.name}} {{item.reminder}} {{item.med_type}} <br/>
{{/each}}

{{#each other as |item|}}
  {{item.name}} {{item.reminder}} {{item.med_type}} <br/>
{{/each}}
<div>
Here
  {{nullObject.hello}}
  {{nullObject.world}}
  {{nullObject.thing}}
</div>
<button {{action 'fixnull'}}> Filter nulls </button>