<div>
    <div id="alert_placeholder"></div>
    <h2 style="display: block;">{{model.user.name}}</h2>
    <h4>{{model.user.email}}</h4>
    <h4>{{model.user.type}}</h4>   
</div>
<div>
    <button id="reset" {{action 'resetPassword'}}>Reset password</button>
    <button id="delete" {{action 'deleteUser'}}>Delete</button>
</div>
{{outlet}}