<div >
    <h1 id="contactName">Contact information for: {{model.first_name}} {{model.last_name}}</h1>
    <br>
    <p  id="contactPhoneNumber">Phone Number: {{model.phone_number}}</p>
    <br>
    <p id="contactEmail" >Email: {{model.email}}</p>
    <br>
    <p id="contactFaxNumber" >Fax Number: {{model.fax_number}}</p>
    <br>
    <p id="contactAddressLine1">Address:
    {{model.addressLine1}}
    <br>
    {{model.addressLine2}}
    <br>
   {{model.addressLine3}}</p>
    <br>
    <br>
    {{#if model.admin}}
    <button type="submit" id="edit-button"{{action 'gotoEditContact' model.id model.admin}}>Edit Info</button>
    {{/if}}
</div>