	<div class = "viewGroup">
		<h3>Appointment Info</h3>
		
		<div class = "viewLabel">Start Date:</div>
		<div class = "viewInfo">{{model.start}}</div>
		<br>
		
		<div class = "viewLabel">Duration:</div>
		<div class = "viewInfo">{{{model.end}}}</div>
		<br>
		<div class = "viewLabel">Reason for Appointment:</div>
		<div class = "viewInfo">{{model.reason}}</div>
		<br>
		<div class = "viewLabel">Notes:</div>
		<div class = "viewInfo">{{model.notes}}</div>
		<br>
		<div class = "viewLabel">Location:</div>
		<div class = "viewInfo">{{model.location}}</div>
		<br>
	</div>
	<br>