<div class="container">
<div class="row" >



<div class="col-sm-12 col-md-12">
<h1> Medical Record </h1>
<h4> Created at: {{model.date_created}} </h4>
</div>

<div class="col-sm-7 col-md-7">

<div > placeholder for pet info: 
  <br>
  <textarea rows="10" cols="40"> </textarea>
</div>

<div >
<div class="row">
    <div class="col-sm-2 col-md-2">Attitude </div>
    <div class="col-sm-2 col-md-2"> 
        {{#if model.attitudeBAR }}
        <input type="checkbox" id="attitudeBAR" disabled checked="true"> BAR 
        {{else}}
         <input type="checkbox" id="attitudeBAR" disabled > BAR 
         {{/if}}
        </div> 
    <div class="col-sm-2 col-md-2"> 
         {{#if model.attitudeQAR }}
        <input type="checkbox" id="attitudeQAR" disabled checked="true"> QAR 
         {{else}}
          <input type="checkbox" id="attitudeQAR" disabled> QAR 
           {{/if}}
        </div> 
    <div class="col-sm-3 col-md-3"> 
        {{#if model.attitudeDepressed }}
        <input type="checkbox" id="attitudeDepressed" disabled checked="true"> Depressed
         {{else}}
           <input type="checkbox" id="attitudeDepressed" disabled> Depressed 
           {{/if}}
         </div>
    <div class="col-sm-1 col-md-1"> Temp </div>
    <div class="col-sm-1 col-md-1"> <input id="temperatureText" class="inputMedLabel" >  </div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-1">Eyes </div>
    <div class="col-sm-2 col-md-1">
        {{#if model.eyesN }}
        <input type="checkbox" id="eyesN" disabled checked="true"> N
         {{else}}
           <input type="checkbox" id="eyesN" disabled> N
           {{/if}} 
           </div>
    <div class="col-sm-2 col-md-1"> 
        {{#if model.eyesA }}
        <input type="checkbox" id="eyesA" disabled checked="true"> A
         {{else}}
           <input type="checkbox" id="eyesA" disabled> A
           {{/if}} 
        </div> 
    <div class="col-sm-2 col-md-2"> 
         {{#if model.eyesOU }}
        <input type="checkbox" id="eyesOU" disabled checked="true"> OU
         {{else}}
           <input type="checkbox" id="eyesOU" disabled> OU
           {{/if}} 
        </div>
     <div class="col-sm-2 col-md-2"> 
         {{#if model.eyesOD }}
        <input type="checkbox" id="eyesOD" disabled checked="true"> OD
         {{else}}
           <input type="checkbox" id="eyesOD" disabled> OD
           {{/if}} 
         </div>
    <div class="col-sm-2 col-md-2"> 
         {{#if model.eyesOD }}
        <input type="checkbox" id="eyesOD" disabled checked="true"> OS
         {{else}}
           <input type="checkbox" id="eyesOS" disabled> OS
           {{/if}} <input type="checkbox" id="eyesOS"> OS 
           </div>
    <div class="col-sm-1 col-md-1"> <input id="eyesText" class="inputMedLabel">  </div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-1">Oral </div>
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="eyesN"> N </div> 
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="eyesA"> A </div> 
    <div class="col-sm-1 col-md-1"> <input id="oralText" class="inputMedLabel">  </div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-1">MM </div>
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="mmN"> N </div> 
    <div class="col-sm-2 col-md-2"> <input type="checkbox" id="mmPale"> Pale </div> 
    <div class="col-sm-3 col-md-3"> <input type="checkbox" id="mmJaundiced"> Jaundiced </div> 
    <div class="col-sm-2 col-md-2"> <input type="checkbox" id="mmTacky"> Tacky </div> 
</div>
<div class="row">
    <div class="col-sm-1 col-md-1">Ears </div>
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="earsN"> N </div> 
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="earsA"> A </div> 
    <div class="col-sm-2 col-md-2"> <input type="checkbox" id="earsEarMites"> Ear Mites </div> 
    <div class="col-sm-2 col-md-2"> <input type="checkbox" id="earsAU"> AU </div> 
    <div class="col-sm-2 col-md-2"> <input type="checkbox" id="earsAD"> AD </div> 
    <div class="col-sm-2 col-md-2"> <input type="checkbox" id="earsAS"> AS </div> 
    <div class="col-sm-1 col-md-1"> <input id="earsText" class="inputMedLabel">  </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-2">Glands/Nodes </div>
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="glandsN"> N </div> 
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="glandsA"> A </div> 
    <div class="col-sm-1 col-md-1"> <input  id="glandsText" class="inputMedLabel">  </div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-1">Skin </div>
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="skinN"> N </div> 
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="skinA"> A </div> 
    <div class="col-sm-1 col-md-1"> <input id="skinText" class="inputMedLabel">  </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2">Abdomen </div>
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="abdomenN"> N </div> 
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="abdomenA"> A </div> 
    <div class="col-sm-1 col-md-1"> <input id="abdomenText" class="inputMedLabel">  </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-2">Urogential </div>
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="urogentialN"> N </div> 
    <div class="col-sm-1 col-md-1"> <input type="checkbox"  id="urogentialA"> A </div> 
    <div class="col-sm-1 col-md-1"> <input  id="urogentialText" class="inputMedLabel">  </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2">Nervous System </div>
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="nervousSystemN"> N </div> 
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="nervousSystemA"> A </div> 
    <div class="col-sm-1 col-md-1"> <input id="nervousSystemText" class="inputMedLabel">  </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-2">Musculoskeletal </div>
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="musculoskeletalN"> N </div> 
    <div class="col-sm-1 col-md-1"> <input type="checkbox" id="musculoskeletalA"> A </div> 
    <div class="col-sm-1 col-md-1"> <input id="musculoskeletalText" class="inputMedLabel">  </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-2">Cardiovascular </div>
    <div class="col-sm-1 col-md-auto"> <input type="checkbox" id="cardiovascularN"> N </div> 
    <div class="col-sm-1 col-md-auto"> <input type="checkbox" id="cardiovascularA"> A </div> 
    <div class="col-sm-4 col-md-4"> <input id="cardiovascularText" class="inputMedLabel">  </div>
    <div class="col-sm-2 col-md-1"> HR </div>
    <div class="col-sm-1 col-md-1"> <input id="hrText" class="inputMedLabel">  </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2 ">Respiratory </div>
    <div class="col-sm-2 col-md-1 "> <input type="checkbox" id="respiratoryN"> N </div> 
    <div class="col-sm-2 col-md-1 "> <input type="checkbox" id="respiratoryA"> A </div> 
    <div class="col-sm-4 col-md-4"> <input id="respiratoryText1" class="inputMedLabel">  </div>
    <div class="col-sm-2 col-md-1"> RR </div>
    <div class="col-sm-3 col-md-1 "> <input id="respiratoryText2" class="inputMedLabel">  </div>
</div>
</div>

</div>



<div class="col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">

<div >
<label for="notes">Notes: </label>
<br>
<textarea id="notes" rows="10" cols="40"> </textarea>
<br>
</div>

<div >
<label for="medications">Medications: </label>
<br>
<textarea id="medications" rows="10" cols="40"> </textarea>
</div>

<div >
<label for="summary">Please enter a short summary: </label>
<br>
<textarea id="summary" rows="5" cols="40"> </textarea>
</div>

<div >
  <h4> Veterinarian Signature: </h4>

  {{signature-pad
    color=color
    height=height
    value=signature
    weight=weight
    width=width
    id='signature'
}}

</div>

</div>


  

</div>


</div>