<div class = "container">
    <h1 id="contactName">Contact information for: {{model.name}}</h1>
    <br>
    <p  id="contactPhoneNumber">Phone Number: {{model.phoneNumber}}</p>
    <br>
    <p id="contactEmail" >Email: {{model.email}}</p>
    <br>
    <p id="contactFaxNumber" >Fax Number: {{model.faxNumber}}</p>
    <br>
    <p id="contactAddress">Address: {{model.address}}</p>
    <br>
</div>