<div class = "container">
    {{#each model as |person|}}
    <h1 id="contactName">Contact id: {{person.id}}</h1>
    <br>
    <h1 id="contactName">Contact information for: {{person.name}}</h1>
    <br>
    <p  >Phone Number: <p id="contactPhoneNumber">{{person.phoneNumber}} </p></p>
    <br>
    <p id="contactEmail" >Email: {{person.email}}</p>
    <br>
    <p id="contactFaxNumber" >Fax Number: {{person.faxNumber}}</p>
    <br>
    <p id="contactAddress">Address: {{person.address}}</p>
    <br>
    {{/each}}
</div>