
	
	<div class="row  leftAlignGroup">
 	 <div class="col-sm-4 text-left">
 	 <h1>{{model.first_name}} {{model.lastName}}</h1>
 	 <br>

	<div class = "pictureShow" >
    {{patient-picture modelID=model}}
    <br>
    <button  {{action "uploadPicture" model.id}}>Upload A New Picture</button>
    </div>
	
	</div>
 	 <div class="col-sm-6 text-left">
 	 <br>
 	 <br>
 	 <div class = "nameLabel">
	<h3>ALERTS</h3>
	</div>
	<div class = "alertList" >
    
    {{#ember-scrollable autoHide=false}}
            {{#each model.alerts as |alert|}}
                    <div class = "list-group-item">
                            <p>{{alert.body}} </p>
                            <p>Active till: {{alert.end}} </p>
                    </div>

            {{/each}}
    {{/ember-scrollable}}
	</div>
    </div>
    </div>
    <br>
    <br>

	<div class = "viewGroup">
		<h3>Client's Basic Information</h3>
		
		<div class = "viewLabel">Client's Name:</div>
		<div class = "viewInfo">{{model.firstName}} {{model.lastName}}</div>
		<br>
		
		<div class = "viewLabel">Client's Address:</div>
		<div class = "viewInfo">{{{model.address}}}</div>
		<br>
		<div class = "viewLabel">Client's Phone Number:</div>
		<div class = "viewInfo">{{model.phoneNumber}}</div>
		<br>
		<div class = "viewLabel">Client's Email Address:</div>
		<div class = "viewInfo">{{model.email}}</div>
		<br>
	</div>
	<br>
	<div class = "viewGroup">
		<h3>Client's Documentation</h3>
		<div class = "viewLabel">LICO:</div>
		<div class = "viewInfo">{{model.licos}}</div>
		<br>
		<div class = "viewLabel">AISH:</div>
		<div class = "viewInfo">{{model.aish}}</div>
		<br>
		<div class = "viewLabel">SA:</div>
		<div class = "viewInfo">{{model.socialAssistance}}</div>
		<br>
		<div class = "viewLabel">Notes:</div>
		<div class = "viewInfo">{{{model.notes}}}</div>
		<br>
	</div>
	<br>
	<div class = "viewGroup">
		<h3>Alternative Contact</h3>
		<div class = "viewLabel">Alternative Contact Name:</div>
		<div class = "viewInfo">{{model.alternativeContactFirstName}} {{model.alternativeContactLastName}}</div>
		<br>
		<div class = "viewLabel">Alternative Contact Address:</div>
		<div class = "viewInfo">{{{model.alternativeContactAddress}}}</div>
		<br>
		<div class = "viewLabel">Alternative Contact Phone Number:</div>
		<div class = "viewInfo">{{model.alternativeContactPhoneNumber}}</div>
		<br>
		<div class = "viewLabel">Alternative Contact Secondary Phone:</div>
		<div class = "viewInfo">{{model.alternativeContact2ndPhone}}</div>
		<br>
		<div class = "viewLabel">Alternative Contact Email:</div>
		<div class = "viewInfo">{{model.alternativeContactEmail}}</div>
		<br>
	</div>
	<br>
	<div class = "viewGroup">
		<h3>Patient Info</h3>
		<div class = "viewLabel">Patient Name:</div>
		<div class = "viewInfo">{{model.first_name}} {{model.last_name}}</div>
		<br>
		<div class = "viewLabel">Patient Species:</div>
		<div class = "viewInfo">{{model.species}}</div>
		<br>
		<div class = "viewLabel">Patient Sex:</div>
		<div class = "viewInfo">{{model.gender}}</div>
		<br>
		<div class = "viewLabel">Patient Date of Birth:</div>
		<div class = "viewInfo">{{model.age}}</div>
		<br>
		<div class = "viewLabel">Patient Colour:</div>
		<div class = "viewInfo">{{model.colour}}</div>
		<br>

		<div class = "viewLabel">Patient Tattoo ID:</div>
		<div class = "viewInfo">{{model.tattoo}}</div>
		<br>
		<div class = "viewLabel">Patient Microchip ID:</div>
		<div class = "viewInfo">{{model.microchip}}</div>
		<br>
	</div>
	<br>
	<button {{action "editPatient" model.id}}>Edit Info</button>
	<button {{action "newAppointment" model.id}}>Add An Appointment</button>

	<br>
	<br>
	{{history-container patientID=model.id}}



{{outlet}}
