<div class = "container">
	<h1>{{model.first_name}} {{model.lastName}}</h1>
	<div class = "viewGroup">
		<h3>Client's Basic Information</h3>
		
		<div class = "viewLabel">Client's Name:</div>
		<div class = "viewInfo">{{model.firstName}} {{model.lastName}}</div>
		<br>
		
		<div class = "viewLabel">Client's Address:</div>
		<div class = "viewInfo">{{{model.address}}}</div>
		<br>
		<div class = "viewLabel">Client's Phone Number:</div>
		<div class = "viewInfo">{{model.phoneNumber}}</div>
		<br>
		<div class = "viewLabel">Client's Email Address:</div>
		<div class = "viewInfo">{{model.email}}</div>
		<br>
	</div>
	<br>
	<div class = "viewGroup">
		<h3>Client's Documentation</h3>
		<div class = "viewLabel">LICO:</div>
		<div class = "viewInfo">{{model.licos}}</div>
		<br>
		<div class = "viewLabel">AISH:</div>
		<div class = "viewInfo">{{model.aish}}</div>
		<br>
		<div class = "viewLabel">SA:</div>
		<div class = "viewInfo">{{model.socialAssistance}}</div>
		<br>
		<div class = "viewLabel">Notes:</div>
		<div class = "viewInfo">{{{model.notes}}}</div>
		<br>
	</div>
	<br>
	<div class = "viewGroup">
		<h3>Alternative Contact</h3>
		<div class = "viewLabel">Alternative Contact Name:</div>
		<div class = "viewInfo">{{model.alternativeContactFirstName}} {{model.alternativeContactLastName}}</div>
		<br>
		<div class = "viewLabel">Alternative Contact Address:</div>
		<div class = "viewInfo">{{{model.alternativeContactAddress}}}</div>
		<br>
		<div class = "viewLabel">Alternative Contact Phone Number:</div>
		<div class = "viewInfo">{{model.alternativeContactPhoneNumber}}</div>
		<br>
		<div class = "viewLabel">Alternative Contact Secondary Phone:</div>
		<div class = "viewInfo">{{model.alternativeContact2ndPhone}}</div>
		<br>
		<div class = "viewLabel">Alternative Contact Email:</div>
		<div class = "viewInfo">{{model.alternativeContactEmail}}</div>
		<br>
	</div>
	<br>
	<div class = "viewGroup">
		<h3>Patient Info</h3>
		<div class = "viewLabel">Patient Name:</div>
		<div class = "viewInfo">{{model.first_name}} {{model.last_name}}</div>
		<br>
		<div class = "viewLabel">Patient Species:</div>
		<div class = "viewInfo">{{model.species}}</div>
		<br>
		<div class = "viewLabel">Patient Gender:</div>
		<div class = "viewInfo">{{model.gender}}</div>
		<br>
		<div class = "viewLabel">Patient Reproduction Status:</div>
		<div class = "viewInfo">{{model.status}}</div>
		<br>
		<div class = "viewLabel">Patient Age:</div>
		<div class = "viewInfo">{{model.age}}</div>
		<br>
		<div class = "viewLabel">Patient Colour:</div>
		<div class = "viewInfo">{{model.colour}}</div>
		<br>

		<div class = "viewLabel">Patient Tatoo ID:</div>
		<div class = "viewInfo">{{model.tattoo}}</div>
		<br>
		<div class = "viewLabel">Patient MicroChip ID:</div>
		<div class = "viewInfo">{{model.microchip}}</div>
		<br>
	</div>
	<br>
	<button type = "button" id= "edit-patient-button">Edit Info</button>
	<br>
	<br>
	<button type = "button" id= "create-medrec-button" {{action 'gotoMedicalRoute' model.id}}>Create a medical record</button>
	<button type = "button" id= "view-medrec-button" {{action 'viewMedicalRecords' model.id}}>View a medical record</button>
	{{history-container patientID=model.id}}
</div>
